@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:neu;
}

html,body{
    height: 100%;
    width: 100%;
}
#main {
  position: relative;
  z-index: 10;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;   
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vh 0vw;
    width: 100%;
    /* background-color: rgb(216, 94, 114); */       
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    z-index: 100; 
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    border-radius: 100%;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius:0;   
}
#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: #fff;
}
nav h3{
    display: none;
}
#center{
    height:65vh ;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: flex-end;                                                                                                                   
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
    margin-top: 80px;
    /* cheak marging  */
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 11vw;
    text-align: end;
    line-height: 9vw;
}

#page1 video{
    border-radius: 20px;
    width: 100%;
    margin-top: 4vw;
    position: relative;
}
#hero-shape{
    position: absolute;
    right: 0;
    top: 75vh;
    height: 36VW;
    width: 46VW;
    /* background-color: #FE320A; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
   
}
#hero-1{
    background-color:  #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);    
    position: absolute;
}
#hero-2{
    background:linear-gradient(#FE320A,#fe3f0a); 
    position: absolute;
    height: 30vw;
    width: 30vw;
  border-radius: 50%;
    filter: blur(25px);    
    animation-name:  ani2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    background:linear-gradient(#FE320A,#fe3f0a); 
    position: absolute;
    height: 30vw;
    width: 30vw;
   border-radius: 50%;
    filter: blur(25px);    
    animation-name: ani;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ani {
    from{
        transform: translate(55%,-3%);
    }
    to{
         transform: translate(0,10%);
    }
}
@keyframes ani2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
     transform: translate(-20%,30%);
    }
}


#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: green; */
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    /* font-size: 120px; */
    font-size: 9vw;
    display: inline-block;
    /* background-color: aquamarine; */
}
#gola{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page-2-bottom{
    height: 80vh;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page-2-bottom h1{
 font-size: 4vw;
 line-height: 4vw;
 width: 60%;
}
#bottom-p2{
    width: 25%;
    /* background-color: red;   */
}
#bottom-p2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-p2 p{
    font-weight: 200;
    margin-top: 2vw;
}

#page2 #gooey{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background:linear-gradient(to top right,#ff2d03,#ff5c1b);
    top: 58%;
    left:25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 
    
}

@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0);
    }  
    to{
        filter: blur(30px);
        transform: translate(-10%,10%) skew(-12deg);
    }  
}

#page3{
    min-height : 100vh;
    width: 100%;
    padding: 4vw 0;
    /* background-color: green;       */
    background-color: #EFEAE3;
    border: 1px solid  #EFEAE3;
}
.elem{
    height: 130px;
    width: 100%;
    position: relative;
    /* background-color:orange; */
       border-bottom: 1px solid rgb(88, 81, 81);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease-in 0.2s;
}
.elem:hover .overlay{
    top: 0;
}
/* #elem-container{
    background-color: palevioletred;
} */

#fixed-image{
    height: 30vw;
    width: 24vw;
    background-color:transparent;
    border-radius: 10px;
    position: fixed;
    z-index: 11;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
.mainCard{
    display: none;
}
#page4{
    height: 70vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 10vw 2vw;
    font-weight: 200;
}
/* swiper page4 */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
 width: 30%;
 border-left: 1px solid #aeadad;
 /* background: #fff; */    
 padding: 0 2vw;
}

/* end */

#page5{
    margin-top: 10vh;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(120, 6, 44); */
}

#main{
    /* background-color: aquamarine; */
    position: relative;
    z-index: 10;
}

#footer{
    position: fixed;  
    height: 105vh;
    width: 100%;   
    background-color: black;
    color: white;
    z-index: 9;
    bottom: 0;
    display: flex; 
    justify-content: flex-end;
    flex-direction: column;      
    padding: 1vw 0vw;

}
#footer h1{
    font-size: 23vw;
    position: relative;
    z-index: 9;
}


#footer-div{
    height: 40vh;
    width: 100vw;    
    background-color:#FE330A;    
    /* filter: blur(20px); */
    display: flex;
    justify-content:space-between;
    position:relative;
    top: 2%;
    bottom: 0;   
    z-index: -2;   
}
#footBack{
    height: 40vh;
    width: 100vw;    
    background-color:#FE330A;    
    filter: blur(20px);
    display: flex;
    justify-content:space-between;
    position:fixed;
    top: 2%;
    bottom: 0;   
    z-index: -2;  
}
#footer-bootom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
.footer1 h2{
  font-size: 30px;
  padding-left: 30px;
   position: relative;
  z-index: 9;
  top:19vh; 
  left: 4vw;
}
.footer2{
    padding-top: 10px;
    padding-right: 50px;
    position: relative;
}
.footer2 h3{
    font-weight: 200;
    line-height: 25px;
    position: relative;
    z-index: 9;
    top: 17vh;  
    right: -14vw;
}
.email{
    position: relative;
    top: 18vh;
    right: -14vw;
    z-index: 100;
    width: 20vw;
}
.footgola{
    z-index: 1;
    height: 60vh;
    width: 100vw;
    background-color:#FE330A;
    border-radius: 10%;    
    position: relative;
    z-index: 7;
    left: 1%;
    top: 2%;
    filter: blur(20px);    
}

.footgola1{
    position: absolute;
    z-index: 7;
    top: 10vh;
    height: 70vh;
    width: 100vh;
    left: -50%;
    top: 10%;
    background-color:#FE330A;
    border-radius: 50%;    
    filter: blur(20px);
    animation-name: ani2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.footgola2{
    z-index: 7;
    position: absolute;    
    left:20vw;
    height:70vh;
    width: 100vw;
    background-color:#FE330A;
    border-radius: 50%;    
    filter: blur(20px);    
    animation-name:ani2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ani2 {
    from{
      
        transform: translate(30%,70%) skew(0);
    }
    to{
      
     transform: translate(20%,-20%) skew(-22deg);
    }
}
.footgolaL{
    height: 50vh;
    width: 90vh;
    background-color: #FE330A;
    border-radius: 10%;    
    position: relative;  
    top: 1%; 
    left: 50%;
    filter: blur(20px);
}

.footgola1L{
    position: absolute;
    top: 20vh;
    height: 50vh;
    width: 80vh;
    background-color:#FE330A;
    border-radius: 50%;    
    filter: blur(20px);
    animation-name: ani2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.footgola2L{
    position: absolute;    
    left:20vw;
    height:60vh;
    width: 80vh;
    background-color:#FE330A;
    border-radius: 50%;    
    filter: blur(20px);    
    animation-name:ani2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ani2 {
    from{
      
        transform: translate(-10%,5%) skew(-12deg);
    }
    to{
      
     transform: translate(20%,-20%) skew(2deg);
    }
}

#threeFour{
    height: 150vh;
    width: 100%;
    background-color: #EFEAE3; 
    z-index: 7;
    padding: 3vw 0;
    position: relative;
}
#threeFour h4{    
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    margin-left: 2vw;
    position: absolute;
    top: 2vh;
}

#threeFour h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    border-radius: 100%;
}
#threeFour h4:hover::after{
    bottom: 0;
    border-radius:0;   
}
#threeFour h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
    font-weight: 100;
   }
#threeFour h4:hover a{
    color: #fff;
}
#threeFour h4:hover i{
    color: #fff;
    position: relative;
    z-index: 9;
}

#threeFoureImg{
    height: 100vh;
    width: 96vw;   
    display: flex;    
    padding: 0 0 0 4vw;
    margin-right: 2vw;
    margin: 2vw;
    background-color: black; 
    border-radius: 20px;    
    position: absolute;
    top: 12vw;
}
#img1{
 height: 100vh;
 width: 70vw;
 background-color:black;
  border-radius: 16px;
 padding: 2vw;
 color: white;
 
}
.P , .D , .E{
font-size: 10vh;
border-left: 3px solid white;
padding: 0.1vw 1vw;
}

.P, .E{
    opacity: 0.5;
} 
.D{
    border-left: 3px solid orangered; 
}
.pera{
    padding:5vw 4vw 2vw 0;
    font-weight: 100;
    line-height: 1.6vw;
}

#img2{
    height: 100%;
    width: 110vw;
    background-color: rgb(0, 0, 0);  
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 0 0 1vw;
    overflow: hidden;
    margin: 0;
    
}
.email{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 30px;
    color:white;
    opacity: 50%;
    border-bottom: 1px solid white;
   font-size: 15px;
   font-weight: 100;
}
#footer-bottom a{
    text-decoration: none;
    color: white;
    font-weight: 200;

}   
#footer-bottom h3{
    font-weight: 200;
}
#footer-bottom {
    border-top: 1px solid #aeadad88;
    padding: 1.8vw 1vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    font-size: 1vw;

}
#full-scr{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.361); */
    position: fixed;
    z-index: 99                                                                                                                                                                                                                                                                                      ;
    top: -100%;
    transition: all ease 0.5s;
}
#full-div1{
    height: 70%;
    width: 100%;
    color: black;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
#full-div1 h1{
    position: relative;
    margin-right: 10vh;
    top: 35%;
    left:2%;
    font-size:9vh;
    text-align:right;
}

@media (max-width:600px){
    #page1{
        min-height: 100vh;
        width: 100%;
        padding: 0 ;
    }
    nav{
        padding: 8vw 5vw;                                                                              
        width: 100%;     
        background-color: #EFEAE3;            
    }
    nav img{
        transition: all ease 0.2s;
        height: 9vh;
    }
    #nav-part2{
        display: none;
    } 
    nav h3{
        display: block;
        padding: 2.6vw 3vw;
        border: 1px solid #ababab;
         border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 4.2vw;
        display: flex;
        justify-content: center;
    }
    #center{
        height:62vh ;
        width: 100%;
        /* background-color: crimson; */
        display: flex;
        align-items: flex-end;                                                                                                                   
        justify-content: space-between;
       flex-direction: column-reverse;
        border-bottom: 1px solid black;
        padding: 7vw 5vw;
        margin-top: 50px;  
        position: relative;    
        z-index: 9;      

    }
    
    #left h3{
        width: 80%;
        font-size: 4vw;
        line-height: 6vw;
        padding-top: 6vw;
    }
    #center h1{
        font-size: 17vw;
        text-align: end;
        line-height: 15vw;
    }
    
    #page1 video{
        width: 92%;
        height: 70vh;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
        margin-top: 4vw;
        position: relative;
        margin-left: 4%;
    }
    #hero-shape{
        position: absolute;
        right: 0;
        top: 75vh;
        height: 76VW;
        width: 82VW;
        /* background-color: #FE320A; */
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
       
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        /* background-color: green; */
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }
    
    #moving-text{
        white-space: nowrap;
        overflow: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    #moving-text h1{         
        font-size: 15vw;
        display: inline-block;
        
    }
    #gola{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #FE320A;
        display: inline-block;
        margin: 2.4vw 2vw;
    }
    #page-2-bottom{
        height: 100vh;
        width: 100%;
        /* background-color: aquamarine; */
       padding: 10vw 4vw;
        display: flex;
        align-items:flex-start;            
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 9;
    }
    
    #page-2-bottom h1{
     margin-top: 4vw;   
     font-size: 6vw;
     line-height: 7vw;
     width: 95%;
    }
    #bottom-p2{
        width: 70%;
        /* background-color: red;   */
        margin-top: 4vh;
    }
    #bottom-p2 img{
        width: 90%;
        border-radius: 10px;
       
    }
    #bottom-p2 p{
        width: 90%;
        font-weight: 200;
        margin-top: 4vw;
        font-size: 3vw;
    }
    
    #page2 #gooey{
        height: 75vw;
        width: 75vw;
        position: absolute;
        border-radius: 50%;
        background:linear-gradient(to top right,#ff2d03,#ff5c1b);
        top: 38%;
        left:35%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-timing-function:ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
    #elem-container{
        display:none;
    }
    .mainCard{
        display:inline-block;
    }
    .mainCard{
        min-height: 100vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap
    }
    video{
        height: 40vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8%;
        
    }
    .card{
        height: 64vh;
        width: 44vw;
        border-radius: 10%;
        margin: 1vh 1vh 1vh 2vh;
    }

    .card h1{
        font-weight: 700;
        font-size: 3vh;
        margin-left: 1.2vw;
        margin-top: 1vh;
     
    }    
    .card .small h4,h5{
        font-weight: 200;
        margin-top: 2.5vh;
        padding-left: 1.2vw;
        line-height: 7%;
        font-size: small;
      
      
    }
    .card .small h5{
        color: #00000069;
       font-size: 1.9vh;
    }
    #threeFour{
        height: 100vh;
        width: 100%;
        background-color:  #EFEAE3; 
        z-index: 7;
        padding: 3vw 0;
        position: relative;
        }
    #threeFour h4{    
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #8a8a8a89;
        border-radius: 50px;
        font-weight: 500;
        color: #000000bb;
        position: relative;
        font-size: 18px;
        overflow: hidden;
        margin-left: 2vw;
        position: absolute;
        top: 2vh;
    }    
  
    
    #threeFoureImg{
        height: 65vh;
        width: 94vw;   
        display: flex;               
        padding: 0 0 0 4vw;
        margin-right: 2vw;
        margin-left:2vw;
        background-color: rgb(0, 0, 0); 
        border-radius: 20px;    
        position: absolute;
        top: 35vw;        
    }
    #img1{
     height: 65vh;
     width: 50vw;
     background-color:black;
      border-radius: 16px;
     padding: 2vw;
     margin-left: -4%;
     color: white;     
    }
    .P , .D , .E{
       
    font-size: 5vh;
    border-left: 3px solid white;
    padding: 0 1vw;
    
    }
    
    .P, .E{
        opacity: 0.5;
    } 
    .D{
        border-left: 3px solid orangered; 
    }
    .pera{
        padding:5vw 3vw 2vw 0;
        font-weight: 100;
        line-height: 2.9vw;
        font-size: 2vh;
    }
    
    #img2{
        height: 100%;
        width: 100vw;
        background-color: rgb(0, 0, 0);  
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 0 0 1vw;
        overflow: hidden;
        margin-left: -4%;        
    }
    #page4{
        height: 56vh;
        width: 100%;
        background-color:#EFEAE3;
        padding: 10vw 2vw;
        font-weight: 200;
    }
    .swiper {
        width: 100%;
        height: 80%;
      }
    
    .swiper-slide {
     width: 60%;
     border-left: 1px solid #aeadad;
     /* background-color: blueviolet; */
     padding: 0 2vw;
    } 
    
  
    
    #footer{
        position: fixed;  
        height: 105vh;
        width: 100%;   
        background-color: black;
        color: white;
        z-index: 9;
        bottom: 0;
        display: flex; 
        justify-content: flex-end;
        flex-direction: column;      
        padding: 1cqb 0vw;
    
    }
    #footer h1{
        font-size: 23vw;
        position: relative;
        z-index: 9;
        top: -25vh;
        left: 1vh;
    }
    
    
    #footer-div{
        height: 60vh;
        width: 100vw;    
        background-color:#FE330A;    
        /* filter: blur(20px); */
        display: flex;
        justify-content:space-between;
        position:relative;
        top: -40%;
        bottom: 0;   
        z-index: -2;   
    }
    #footBack{
        height: 60vh;
        width: 100vw;    
        background-color:#FE330A;    
        filter: blur(20px);
        display: flex;
        justify-content:space-between;
        position:fixed;
        top: -25%;
        bottom: 0;   
        z-index: -2;  
    }
    #footer-bootom{          
        border-top: 1px solid #dadada; 
       
       
    }
    .footer-bo{
        position: absolute;        
        height: 6vh;
        width: 52vh;      
        z-index: 110;    
        
    }
    .footer-bo h3{
     font-size:1vh; 
     font-weight: 100; 
     
    }
    .footer1 h2{
      font-size: 30px;
      padding-left: 10px;
       position: relative;
      z-index: 9;
      top:19vh; 
      left:0vw;
      
      }
    .footer2{
        padding-top: 10px;
        padding-right: 50px;
        position: relative;
        left: 1vh;
        
    }
    .footer2 h3{
        font-weight: 200;
        line-height: 25px;
        position: relative;
        z-index: 9;
        top: 17vh;  
        left: 4.3vw;
        font-size: 4vw;
        
    }
    .email{
        position: relative;
        top: 18vh;
        left: 4.3vw;
        z-index: 110;
        /* background-color: pink; */
        width: 55vw;
        padding-bottom: 2vh;
    }
    .footgola{
        z-index: 1;
        height: 60vh;
        width: 100vw;
        background-color:#FE330A;
        border-radius: 10%;    
        position: relative;
        z-index: 7;
        left: 1%;
        top: 2%;
        filter: blur(20px);    
    }
    
    .footgola1{
        position: absolute;
        z-index: 7;
        top: 10vh;
        height: 70vh;
        width: 100vh;
        left: -50%;
        top: 10%;
        background-color:#FE330A;
        border-radius: 50%;    
        filter: blur(20px);
        animation-name: ani2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .footgola2{
        z-index: 7;
        position: absolute;    
        left:20vw;
        height:70vh;
        width: 100vw;
        background-color:#FE330A;
        border-radius: 50%;    
        filter: blur(20px);    
        animation-name:ani2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes ani2 {
        from{
          
            transform: translate(40%,80%) skew(10deg);
        }
        to{
          
         transform: translate(20%,-20%) skew(-22deg);
        }
    }
    .footgolaL{
        height: 50vh;
        width: 90vh;
        background-color: #FE330A;
        border-radius: 10%;    
        position: relative;  
        top: 1%; 
        left: 50%;
        filter: blur(20px);
    }
    
    .footgola1L{
        position: absolute;
        top: 20vh;
        height: 50vh;
        width: 80vh;
        background-color:#FE330A;
        border-radius: 50%;    
        filter: blur(20px);
        animation-name: ani2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .footgola2L{
        position: absolute;    
        left:20vw;
        height:60vh;
        width: 80vh;
        background-color:#FE330A;
        border-radius: 50%;    
        filter: blur(20px);    
        animation-name:ani2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes ani2 {
        from{
          
            transform: translate(-10%,5%) skew(-12deg);
        }
        to{
          
         transform: translate(20%,-20%) skew(2deg);
        }
    }
   
    
}


                                                           
#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 110;
    top: 0;
    transition: all ease 0.7s;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    font-size: 4vw;
    color: transparent;
    background:linear-gradient(to right, orange ,orangered);
    -webkit-background-clip:text ;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
   animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
 }

@keyframes load{
    0%{
       opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
      opacity: 0;
    }

}
